src/ZHXY.Application/Connected Services/PushService/DataCenter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://passport.nchu.edu.cn/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://passport.nchu.edu.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">统一身份认证中心，数据中心及交换专用接口，其他系统不予授权，联系电话：0791-83863781。</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://passport.nchu.edu.cn/">
      <s:element name="GetAllOULists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsTeacher" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOUListsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOUListsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOUList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ouname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOUListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOUListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudentClassNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StuNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewClassNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudentClassNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStudentClassNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudentStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StuNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStudentStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStudentStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="News_GetNewsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PageSize" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PageIndex" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="News_GetNewsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="News_GetNewsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="News_GetTopNewsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TopNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="News_GetTopNewsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="News_GetTopNewsListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_GetNoticeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchText" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_GetNoticeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Portal_GetNoticeListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_GetNoticeContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_GetNoticeContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Portal_GetNoticeContentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_SetNoticeReadStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_SetNoticeReadStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Portal_SetNoticeReadStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_GetAffairList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_GetAffairListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Portal_GetAffairListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_SendInstantMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_SendInstantMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Portal_SendInstantMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMiddleLeaderList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMiddleLeaderListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMiddleLeaderListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_GetNotices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Portal_GetNoticesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Portal_GetNoticesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllOUListsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOULists" />
  </wsdl:message>
  <wsdl:message name="GetAllOUListsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOUListsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOUListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOUList" />
  </wsdl:message>
  <wsdl:message name="GetOUListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOUListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentClassNoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStudentClassNo" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentClassNoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStudentClassNoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStudentStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateStudentStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStudentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="News_GetNewsListSoapIn">
    <wsdl:part name="parameters" element="tns:News_GetNewsList" />
  </wsdl:message>
  <wsdl:message name="News_GetNewsListSoapOut">
    <wsdl:part name="parameters" element="tns:News_GetNewsListResponse" />
  </wsdl:message>
  <wsdl:message name="News_GetTopNewsListSoapIn">
    <wsdl:part name="parameters" element="tns:News_GetTopNewsList" />
  </wsdl:message>
  <wsdl:message name="News_GetTopNewsListSoapOut">
    <wsdl:part name="parameters" element="tns:News_GetTopNewsListResponse" />
  </wsdl:message>
  <wsdl:message name="Portal_GetNoticeListSoapIn">
    <wsdl:part name="parameters" element="tns:Portal_GetNoticeList" />
  </wsdl:message>
  <wsdl:message name="Portal_GetNoticeListSoapOut">
    <wsdl:part name="parameters" element="tns:Portal_GetNoticeListResponse" />
  </wsdl:message>
  <wsdl:message name="Portal_GetNoticeContentSoapIn">
    <wsdl:part name="parameters" element="tns:Portal_GetNoticeContent" />
  </wsdl:message>
  <wsdl:message name="Portal_GetNoticeContentSoapOut">
    <wsdl:part name="parameters" element="tns:Portal_GetNoticeContentResponse" />
  </wsdl:message>
  <wsdl:message name="Portal_SetNoticeReadStatusSoapIn">
    <wsdl:part name="parameters" element="tns:Portal_SetNoticeReadStatus" />
  </wsdl:message>
  <wsdl:message name="Portal_SetNoticeReadStatusSoapOut">
    <wsdl:part name="parameters" element="tns:Portal_SetNoticeReadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Portal_GetAffairListSoapIn">
    <wsdl:part name="parameters" element="tns:Portal_GetAffairList" />
  </wsdl:message>
  <wsdl:message name="Portal_GetAffairListSoapOut">
    <wsdl:part name="parameters" element="tns:Portal_GetAffairListResponse" />
  </wsdl:message>
  <wsdl:message name="Portal_SendInstantMessageSoapIn">
    <wsdl:part name="parameters" element="tns:Portal_SendInstantMessage" />
  </wsdl:message>
  <wsdl:message name="Portal_SendInstantMessageSoapOut">
    <wsdl:part name="parameters" element="tns:Portal_SendInstantMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMiddleLeaderListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMiddleLeaderList" />
  </wsdl:message>
  <wsdl:message name="GetMiddleLeaderListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMiddleLeaderListResponse" />
  </wsdl:message>
  <wsdl:message name="Portal_GetNoticesSoapIn">
    <wsdl:part name="parameters" element="tns:Portal_GetNotices" />
  </wsdl:message>
  <wsdl:message name="Portal_GetNoticesSoapOut">
    <wsdl:part name="parameters" element="tns:Portal_GetNoticesResponse" />
  </wsdl:message>
  <wsdl:portType name="数据中心接口服务Soap">
    <wsdl:operation name="GetAllOULists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得指定（职工/学生）所有组织机构OU的基本信息。</wsdl:documentation>
      <wsdl:input message="tns:GetAllOUListsSoapIn" />
      <wsdl:output message="tns:GetAllOUListsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOUList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得组织架构目录树信息（Ztree）</wsdl:documentation>
      <wsdl:input message="tns:GetOUListSoapIn" />
      <wsdl:output message="tns:GetOUListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentClassNo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">学籍异动：按照班级名称移动学生，操作成功返回'ok,当前时间'，否则返回错误原因</wsdl:documentation>
      <wsdl:input message="tns:UpdateStudentClassNoSoapIn" />
      <wsdl:output message="tns:UpdateStudentClassNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">学籍异动：修改用户状态，01-学籍正常，02-无学籍，03-休停学，99-其他非正常状态。操作成功返回'ok,当前时间'，否则返回错误原因</wsdl:documentation>
      <wsdl:input message="tns:UpdateStudentStatusSoapIn" />
      <wsdl:output message="tns:UpdateStudentStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="News_GetNewsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得文章列表，传入ClassID获得该栏目下的文章列表，PageSize为每页返回多少条数据，PageIndex为当前页码。返回参数NewsID为新闻ID号，NewsTitle为新闻标题，NewsImg为新闻图片。</wsdl:documentation>
      <wsdl:input message="tns:News_GetNewsListSoapIn" />
      <wsdl:output message="tns:News_GetNewsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="News_GetTopNewsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得最新文章分类列表，传入top 数量；返回参数NewsID为新闻ID号，NewsTitle为新闻标题，NewsImg为新闻图片。</wsdl:documentation>
      <wsdl:input message="tns:News_GetTopNewsListSoapIn" />
      <wsdl:output message="tns:News_GetTopNewsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNoticeList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取通知公告。</wsdl:documentation>
      <wsdl:input message="tns:Portal_GetNoticeListSoapIn" />
      <wsdl:output message="tns:Portal_GetNoticeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNoticeContent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取通知公告正文。</wsdl:documentation>
      <wsdl:input message="tns:Portal_GetNoticeContentSoapIn" />
      <wsdl:output message="tns:Portal_GetNoticeContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Portal_SetNoticeReadStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">设置通知公告阅读者和点击计数。</wsdl:documentation>
      <wsdl:input message="tns:Portal_SetNoticeReadStatusSoapIn" />
      <wsdl:output message="tns:Portal_SetNoticeReadStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Portal_GetAffairList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取待办事项。</wsdl:documentation>
      <wsdl:input message="tns:Portal_GetAffairListSoapIn" />
      <wsdl:output message="tns:Portal_GetAffairListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Portal_SendInstantMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送消息推送通知。SiteID为单点登录站点id,UID是发送账号如test@nchu.edu.cn,MsgType为自己定义的消息类型，MsgContent为消息正文，以json格式组织字段如{url:外部链接,date:时间,..otherProps}</wsdl:documentation>
      <wsdl:input message="tns:Portal_SendInstantMessageSoapIn" />
      <wsdl:output message="tns:Portal_SendInstantMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMiddleLeaderList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得全校中层干部数据</wsdl:documentation>
      <wsdl:input message="tns:GetMiddleLeaderListSoapIn" />
      <wsdl:output message="tns:GetMiddleLeaderListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNotices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得消息信息（功能未完成）。</wsdl:documentation>
      <wsdl:input message="tns:Portal_GetNoticesSoapIn" />
      <wsdl:output message="tns:Portal_GetNoticesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="数据中心接口服务Soap" type="tns:数据中心接口服务Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllOULists">
      <soap:operation soapAction="http://passport.nchu.edu.cn/GetAllOULists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOUList">
      <soap:operation soapAction="http://passport.nchu.edu.cn/GetOUList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentClassNo">
      <soap:operation soapAction="http://passport.nchu.edu.cn/UpdateStudentClassNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentStatus">
      <soap:operation soapAction="http://passport.nchu.edu.cn/UpdateStudentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="News_GetNewsList">
      <soap:operation soapAction="http://passport.nchu.edu.cn/News_GetNewsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="News_GetTopNewsList">
      <soap:operation soapAction="http://passport.nchu.edu.cn/News_GetTopNewsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNoticeList">
      <soap:operation soapAction="http://passport.nchu.edu.cn/Portal_GetNoticeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNoticeContent">
      <soap:operation soapAction="http://passport.nchu.edu.cn/Portal_GetNoticeContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_SetNoticeReadStatus">
      <soap:operation soapAction="http://passport.nchu.edu.cn/Portal_SetNoticeReadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_GetAffairList">
      <soap:operation soapAction="http://passport.nchu.edu.cn/Portal_GetAffairList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_SendInstantMessage">
      <soap:operation soapAction="http://passport.nchu.edu.cn/Portal_SendInstantMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMiddleLeaderList">
      <soap:operation soapAction="http://passport.nchu.edu.cn/GetMiddleLeaderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNotices">
      <soap:operation soapAction="http://passport.nchu.edu.cn/Portal_GetNotices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="数据中心接口服务Soap12" type="tns:数据中心接口服务Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllOULists">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/GetAllOULists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOUList">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/GetOUList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentClassNo">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/UpdateStudentClassNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentStatus">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/UpdateStudentStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="News_GetNewsList">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/News_GetNewsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="News_GetTopNewsList">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/News_GetTopNewsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNoticeList">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/Portal_GetNoticeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNoticeContent">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/Portal_GetNoticeContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_SetNoticeReadStatus">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/Portal_SetNoticeReadStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_GetAffairList">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/Portal_GetAffairList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_SendInstantMessage">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/Portal_SendInstantMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMiddleLeaderList">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/GetMiddleLeaderList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Portal_GetNotices">
      <soap12:operation soapAction="http://passport.nchu.edu.cn/Portal_GetNotices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="数据中心接口服务">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">统一身份认证中心，数据中心及交换专用接口，其他系统不予授权，联系电话：0791-83863781。</wsdl:documentation>
    <wsdl:port name="数据中心接口服务Soap" binding="tns:数据中心接口服务Soap">
      <soap:address location="https://passport.nchu.edu.cn/api/DataCenter.asmx" />
    </wsdl:port>
    <wsdl:port name="数据中心接口服务Soap12" binding="tns:数据中心接口服务Soap12">
      <soap12:address location="https://passport.nchu.edu.cn/api/DataCenter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>